#used to import json-jar, not sure how it works on eclipse
.vscode

/Book.class
/Borrower.class
/Librarian.class
/Library.class
/User.class
/parseBook.class
/PaperBack.class
/Paperback.class

/ParseBook.class
/testParseBook.class
/test123.class
.DS_Store
test/UserTest.class
view/Main.class
